



/* This is my first proper css file */

body{

    background-color: #171718 ;
    max-width: 450px;
    margin: auto;
}

h3, p{
    color:rgb(255, 255, 255);
    font-family: 'Rubik', sans-serif;
}

h1{
    color:rgb(215, 171, 76);
    font-family: 'Rubik', sans-serif;
    font-weight: bolder;
}
h2{
    color:rgb(215, 171, 76);
    font-family: 'Rubik', sans-serif;
}
.chart{
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 25px;
    border-color: white;
    text-align: center;
    padding: 20px;
    transition: padding 500ms, border-radius 500ms;
}

.chart:hover {
    border-color: rgb(215, 171, 76);
    padding: 35px;
    border-radius: 5px;
  }